/* below CSS adapted from https://css.gg under the MIT License */
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/menu.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-o.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-o.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/close.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/home.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/notes.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/add-r.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/log-in.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css');

main {
    padding: 1rem;
}

@media screen and (min-width: 44rem) {
    .app {
        display: flex;
    }

    main {
        flex: 1;
        padding: 2rem;
    }
}

.error-message {
    width: 100%;
}

/* navmenu */
.nav-bar {
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 4rem;
}

.header {
    display: flex;
    column-gap: 0.25rem;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.dropdown {
    width: 100%;
    justify-content: center;
}

#dropbtn {
    height: 100%;
    padding: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 15rem;
    right: 0;
    z-index: 999;
}

.dropdown-content button {
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    padding: 0rem 1rem;
    column-gap: 1rem;
}

.dropdown-content button div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 100%;
}

.show {
    display: block;
}

@media screen and (min-width: 44rem) {
    .nav-bar {
        width: 17.5%;
        max-width: 20rem;
        min-width: 15rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav-left {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 0.5rem;
        padding: 1rem;
        align-items: center;
    }

    .header-logo {
        padding: 0.5rem 0.5rem;
    }

    .nav-right {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .username {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
    }

    #dropbtn {
        display: none;
    }

    .dropdown-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .dropdown-content button {
        padding: 1rem;
        justify-content: flex-start;
        height: 4rem;
    }
}

/* Home Post */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    max-width: 25rem;
    border-radius: 0.5rem;
}

.post-header {
    display: flex;
    align-items: center;
    position: relative;
}

.user-avatar {
    border-radius: 50%;
    margin-right: 0.5rem;
}

.post-header-text {
    display: flex;
    align-items: center;
}

.post-user {
    margin: 0;
    font-size: 1.1rem;
}

.post-time {
    font-size: 0.9rem;
    color: #999;
}

.delete-post-button {
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.post-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.post-text {
    margin-bottom: 1rem;
}

.post-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-images img {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}

.prev-image-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 100%;
    background-color: none;
    background-color: rgba(255, 255, 255, 0);
    color: grey;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.prev-image-button:hover {
    color: white;
}

.next-image-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
    background-color: transparent;
    color: grey;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.next-image-button:hover {
    background-color: transparent;
    color: white;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    column-gap: 0.5rem;
}

.post-tag {
    color: #333;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.post-comments {
    margin-top: 1rem;
}

.post-comment {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.comment-avatar {
    border-radius: 50%;
    margin-right: 0.5rem;
}

.comment-text {
    margin: 0;
}

.separator {
    border: 0.5px solid #ccc;
    width: 100%;
    margin: 1rem 0 0 0;
}

.display-more-button {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: #fff;
    font-size: 0.8rem;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

/* Modal */
.modal {
    position: fixed;
    z-index: 999999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.modal-content {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 30rem;
    padding: 1.5rem;
    opacity: 1;
    border-radius: 1.5rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 1rem;
}

.modal-close-button {
    right: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.login-form input {
    padding: 0.25rem 0.5rem;
}

.login-form button {
    padding: 1rem 1rem;
    border-radius: 1rem;
}

@media screen and (min-width: 44rem) {
    .modal-content {
        width: 70%;
        max-width: 40rem;
        padding: 2rem;
    }

    .modal-header {
        margin-bottom: 1.5rem;
    }

    .login-form {
        row-gap: 1.5rem;
    }
}

#loader {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 3rem;
    height: 3rem;
    border: 5px solid grey;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}